@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
  font-display: swap;
}


body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
